DEEPSEEK_API_KEY=sk-.....104
DEEPSEEK_BASE_URL=https://api.deepseek.com

OPENAI_API_KEY=sk-.....KRYF
OPENAI_BASE_URL=https://api.uchat.site/v1

ANTHROPIC_API_KEY=sk-.....YF
ANTHROPIC_BASE_URL=https://api.uchat.site

HUNYUAN_APP_ID=1.....28
HUNYUAN_SECRET_ID=A.....V7
HUNYUAN_SECRET_KEY=Y.....oW

DASHSCOPE_API_KEY=sk-.....44
DASHSCOPE_BASE_URL=https://dashscope.aliyuncs.com/compatible-mode/v1

ZHIPUAI_API_KEY=e.....gk
ZHIPUAI_BASE_URL=https://open.bigmodel.cn/api/paas/v4



